.content-product {
  margin-top: 9px;
}
.content-product-top {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 100px);
  grid-auto-flow: row dense;
  grid-gap: 10px;
  padding: 0 0px;
}
.content-product-top__slider {
  grid-column: 1/5;
  grid-row: 1/3;
}
.content-product-top__slider-img {
  display: block;
  height: 100%;
  width: 100%;
}
.content-product-top__slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-product-top__banner--1 {
  grid-row: 1/2;
  grid-column: 5/7;
}
.content-product-top__banner--1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-product-top__banner--2 {
  grid-row: 2/3;
  grid-column: 5/7;
}
.content-product-top__banner--2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-product-main {
  margin-top: 50px;
  padding: 0;
}
.content-product-main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-product-main-header__title {
  font-size: 50px;
  color: rgb(91, 82, 58);
  font-weight: 100;
}
.content-product-main-header__filter {
  cursor: pointer;
  color: grey;
  font-weight: 100;
  padding: 5px 8px;
  border: 1px solid #cccccc;
  box-shadow: #cccccc 0px 4px 6px 0px;
}
.content-product-main .filter-active {
  background-color: rgba(217, 211, 211, 0.576) !important;
}
.content-product-main__filter {
  box-shadow: #cccccc 0px 4px 6px 0px;
  margin-top: 30px;
  background-color: rgba(217, 211, 211, 0.576);
  padding: 10px 30px 25px 30px;
  border-radius: 10px;
}
.content-product-main__filter ul li:not(:nth-child(1)) {
  line-height: 30px;
}
.content-product-main__filter ul li:not(:nth-child(1)):hover {
  color: blueviolet;
}
.content-product-main__filter__title {
  color: black;
  font-weight: bold;
  line-height: 48px;
}
.content-product-main__show {
  padding: 0;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.content-product-main__show .overview--btn {
  width: 100%;
}
.content-product-main__show .overview--btn span {
  margin-top: 25px;
}
.content-product-main__show .product-main__show-item {
  width: 20%;
  padding: 32px 16px;
  border: 0.1px solid #cccccc;
}
.content-product-main__show .product-main__show-item:hover .product-main__show-item__img {
  transform: translateY(-10px);
  transform: scale(1.1);
}
.content-product-main__show .product-main__show-item:hover {
  box-shadow: #cccccc 0px 5px 9px 3px;
}
.content-product-main__show .product-main__show-item__img {
  transition: all 0.2s linear;
  max-height: 209px;
  height: auto;
}
.content-product-main__show .product-main__show-item__img img {
  height: 100%;
  overflow: cover;
  width: 100%;
}
.content-product-main__show .product-main__show-item__sale {
  margin-top: 22px;
}
.content-product-main__show .product-main__show-item__name {
  color: #288ad6;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 20px;
  margin: 0px 0px 5px;
  text-align: left;
  margin-top: 10px;
}
.content-product-main__show .product-main__show-item__price {
  color: #222222;
  font-weight: 700;
  line-height: 18px;
  margin: 0px 0px 5px;
  text-align: left;
}
.content-product-main__show .product-main__show-item__cart {
  justify-content: space-between;
  margin-top: 15px;
}

/*# sourceMappingURL=product.css.map */
